* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}

:root {
  --color-black: #010409;
  --color-light-gray: #161b22;
  --color-gray1: #c8c1c1;
  --color-blue: #007bff;
  --color-light-blue: #0056b3;
  --color-white: #ffffff;
  --color-border: #ddd;

  --font-size-small: 0.75rem;
  --box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-light-gray);
}

.main-wrapper {
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 8% 0 8%;
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-weight: 500;
  font-size: var(--font-size);
  margin-left: -1%;
  margin-right: -1%;
  width: 18%;
}

.navbar-nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-nav li {
  margin-right: 1rem;
}

.navbar-nav a {
  text-decoration: none;
  color: var(--color-white);
  font-weight: 500;
}

.navbar-nav a:hover {
  text-decoration: underline;
}

.github-logo {
  width: 2rem;
  height: auto;
  background-color: var(--color-white);
  border-radius: 1rem;
  /* margin-left: 2rem; */
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-right: 0.7rem;
  width: 90%;
  background-color: var(--color-light-gray);
}

.btn {
  background-color: var(--color-light-gray);
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  padding: 1% 3%;
  cursor: pointer;
}

/* Main CSS */

.create-issue {
  display: flex;
  flex-direction: column;
  color: var(--color-white);
  background-color: var(--color-light-gray);
  box-shadow: var(--box-shadow);
}

.create-issue h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#issue-form {
  display: flex;
  flex-direction: column;
}

#issue-title {
  background-color: var(--color-black);
  color: var(--color-white);
  height: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#issue-description {
  background-color: var(--color-black);
  color: var(--color-white);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.create-issue-button {
  height: 2rem;
  width: 12rem;
}

.issues {
  margin-top: 1rem;
}

.issue-info,
.issue-actions {
  /* margin-top: 2px; */
  margin-left: 1rem;
}

.issue-info > h3,
p {
  margin-top: 1rem;
}

.issue-actions {
  margin-top: -1rem;
}

.issues h2 {
  color: var(--color-white);
  margin-bottom: 1rem;
}

.issue-list {
  list-style: none;
  padding: 0;
  background-color: var(--color-black);
  color: var(--color-white);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
}

.issue {
  border: 1px solid var(--color-border);
  box-sizing: var(--box-shadow);
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.issue h3 {
  margin: 0;
  font-size: 1rem;
}

.issue-info {
  height: 5rem;
  margin-bottom: 1rem;
}

.issue-actions {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 4px;
}

.create-issue-button,
.close-button,
.update-button {
  padding: 5px 10px;
  background-color: var(--color-blue);
  color: #fff;
  border: none;
  cursor: pointer;
}

.create-issue-button:hover,
.close-button:hover,
.update-button:hover {
  background-color: var(--color-light-blue);
}

.protip {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-gray1);
  font-size: var(--font-size);
  margin-top: 2rem;
}

.protip-text {
  color: var(--color-white);
  font-size: var(--font-size);
  margin-right: 4px;
}
.protip > code {
  color: var(--color-blue);
  margin-left: 4px;
  margin-bottom: 3px;
}

/* footer CSS */

.github-footer {
  background-color: var(--color-light-gray);
  padding: 1rem 0;
  display: flex;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer-logo {
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  margin-right: 0.5rem;
  background-color: var(--color-gray1);
}

.footer-links {
  list-style: none;
  display: flex;
}

.footer-links li {
  margin-left: 0.8rem;
}

.footer-links a {
  text-decoration: none;
  color: var(--color-blue);
  font-weight: 500;
}

.footer-links a:hover {
  text-decoration: underline;
}

.github-info p {
  margin: 0;
  font-size: 12px;
  color: var(--color-gray1);
  /* margin-right: 1rem; */
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    margin-top: 0.7rem;
  }

  .navbar-nav li {
    margin: 0;
    margin-bottom: 0.7rem;
  }

  .search-bar {
    margin-top: 0.7rem;
  }

  .search-input {
    margin-right: 0;
  }

  .issue-actions {
    display: flex;
    flex-direction: column;
  }

  .btn {
    margin-left: 2rem;
  }

  .footer-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .github-info {
    margin-top: 0.5rem;
  }

  .protip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  .footer-links {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-links > li {
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 1152px) {
  .navbar-nav {
    font-size: var(--font-size-small);
  }
  .navbar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .footer-links li {
    margin-left: 0.4rem;
    font-size: var(--font-size-small);
  }
}
