* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}

:root {
  --color-black: #010409;
  --color-light-gray: #161b22;
  --color-gray1: #c8c1c1;
  --color-blue: #007bff;
  --color-light-blue: #0056b3;
  --color-white: #ffffff;
  --model-bgcolor: rgba(0, 0, 0, 0.7);

  --font-size-small: 0.75rem;
  --box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-light-gray);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--model-bgcolor);
  z-index: 1;
}

.modal-content {
  background-color: var(--color-light-gray);
  margin: 15% auto;
  padding: 1rem;
  border: 1px solid var(--color-white);
  width: 70%;
  color: var(--color-white);
}

.modal-content h2 {
  margin-bottom: 1rem;
}

#update-form textarea,
input {
  background-color: var(--color-black);
  color: var(--color-white);
}

#update-form input {
  height: 2rem;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

/* Style the update form inside the modal */
#update-form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.update-issue-button {
  align-self: flex-end;
  padding: 5px 10px;
  background-color: #007bff;
  color: var(--color-white);
  border: none;
  cursor: pointer;
}
